.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.987305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.831543;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.952148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.704590;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.687988;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{width:1.056000px;}
._4{width:2.684000px;}
._2{width:13.684000px;}
._0{width:49.940000px;}
._1{width:53.372000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:30.000000px;}
.fs1{font-size:40.000000px;}
.fs4{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.y7{bottom:3.596000px;}
.y6{bottom:4.104000px;}
.y1e{bottom:233.382030px;}
.y1d{bottom:246.506999px;}
.y1c{bottom:258.563029px;}
.y1b{bottom:284.548006px;}
.y1a{bottom:298.711000px;}
.y0{bottom:311.500000px;}
.y19{bottom:315.821025px;}
.y18{bottom:361.138002px;}
.y17{bottom:374.751002px;}
.y16{bottom:388.858004px;}
.y15{bottom:402.471004px;}
.y14{bottom:416.589998px;}
.y13{bottom:433.700023px;}
.y12{bottom:478.985018px;}
.y11{bottom:493.148012px;}
.y10{bottom:510.297006px;}
.yf{bottom:546.243004px;}
.ye{bottom:559.912004px;}
.yd{bottom:577.361005px;}
.yc{bottom:588.721004px;}
.yb{bottom:598.721004px;}
.ya{bottom:616.361016px;}
.y9{bottom:655.727013px;}
.y8{bottom:677.127010px;}
.y5{bottom:695.727011px;}
.y4{bottom:729.317010px;}
.y3{bottom:749.555011px;}
.y2{bottom:761.020012px;}
.y1{bottom:774.703012px;}
.h9{height:17.450001px;}
.h6{height:18.650000px;}
.ha{height:18.799999px;}
.h4{height:27.851562px;}
.h5{height:29.042969px;}
.hb{height:30.078125px;}
.h7{height:32.033203px;}
.h8{height:32.507812px;}
.h3{height:33.328125px;}
.h2{height:46.468750px;}
.h1{height:429.500000px;}
.h0{height:841.700012px;}
.w5{width:31.000000px;}
.w3{width:63.500000px;}
.w2{width:146.500000px;}
.w4{width:199.500000px;}
.w1{width:555.000000px;}
.w0{width:595.000000px;}
.x4{left:1.000000px;}
.x6{left:4.000000px;}
.x0{left:16.000000px;}
.x2{left:22.000000px;}
.x3{left:25.000000px;}
.x9{left:34.000000px;}
.xa{left:39.600000px;}
.xb{left:58.000000px;}
.x5{left:167.500000px;}
.x1{left:193.296997px;}
.x7{left:229.500000px;}
.x8{left:427.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{width:1.408000pt;}
._4{width:3.578667pt;}
._2{width:18.245333pt;}
._0{width:66.586667pt;}
._1{width:71.162667pt;}
.fs2{font-size:40.000000pt;}
.fs1{font-size:53.333333pt;}
.fs4{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.y7{bottom:4.794666pt;}
.y6{bottom:5.472000pt;}
.y1e{bottom:311.176039pt;}
.y1d{bottom:328.675999pt;}
.y1c{bottom:344.750706pt;}
.y1b{bottom:379.397341pt;}
.y1a{bottom:398.281334pt;}
.y0{bottom:415.333333pt;}
.y19{bottom:421.094700pt;}
.y18{bottom:481.517337pt;}
.y17{bottom:499.668003pt;}
.y16{bottom:518.477338pt;}
.y15{bottom:536.628005pt;}
.y14{bottom:555.453331pt;}
.y13{bottom:578.266697pt;}
.y12{bottom:638.646690pt;}
.y11{bottom:657.530683pt;}
.y10{bottom:680.396008pt;}
.yf{bottom:728.324005pt;}
.ye{bottom:746.549339pt;}
.yd{bottom:769.814673pt;}
.yc{bottom:784.961339pt;}
.yb{bottom:798.294673pt;}
.ya{bottom:821.814688pt;}
.y9{bottom:874.302684pt;}
.y8{bottom:902.836014pt;}
.y5{bottom:927.636014pt;}
.y4{bottom:972.422680pt;}
.y3{bottom:999.406681pt;}
.y2{bottom:1014.693349pt;}
.y1{bottom:1032.937349pt;}
.h9{height:23.266668pt;}
.h6{height:24.866666pt;}
.ha{height:25.066666pt;}
.h4{height:37.135417pt;}
.h5{height:38.723958pt;}
.hb{height:40.104167pt;}
.h7{height:42.710938pt;}
.h8{height:43.343750pt;}
.h3{height:44.437500pt;}
.h2{height:61.958333pt;}
.h1{height:572.666667pt;}
.h0{height:1122.266683pt;}
.w5{width:41.333333pt;}
.w3{width:84.666667pt;}
.w2{width:195.333333pt;}
.w4{width:266.000000pt;}
.w1{width:740.000000pt;}
.w0{width:793.333333pt;}
.x4{left:1.333333pt;}
.x6{left:5.333333pt;}
.x0{left:21.333333pt;}
.x2{left:29.333333pt;}
.x3{left:33.333333pt;}
.x9{left:45.333333pt;}
.xa{left:52.800001pt;}
.xb{left:77.333333pt;}
.x5{left:223.333333pt;}
.x1{left:257.729329pt;}
.x7{left:306.000000pt;}
.x8{left:570.000000pt;}
}
